.heading_santa{
	color: white;
	text-align: center;
	font-size: 35px;
}

.text{
	text-align: center;
	font-size: 35px;	
}

.value{
	text-align: center;
	font-size: 35px;
}

.btn_prop{
	text-align: center;
}